{
	"parserOptions": {
		"ecmaVersion": 2015,
		"sourceType": "module"
	},
	"parser": "babel-eslint",
	"extends": ["eslint:recommended", "plugin:node/recommended"],
	"rules": {
		"node/no-unpublished-require": 1
	}
}
